*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /*Definimos a margin e padding de todos os elmentos para 0, facilitando o design mais tarde*/
    margin: 0;
    padding: 0;
}
.container{

    width: 75%;
    margin: auto;

    /*As medidas são sempre no sentido horário: top - right - bottom - left*/
    padding: 0 2rem 2rem 2rem;

    /*Também funcionam em grupos: top e bottom - right e left, podendo ser escrito assim:
    
    padding: 0 2rem;*/

}

body {
    background-image: url("../assets/fundopokedex1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}